.Rproj.user
.Rhistory
.RData
.Ruserdata
Nutrient Data Central.csv
Food Data Central.csv
Wochenbericht_2020_38.pdf
Wochenbericht_2019_02.pdf
Wochenbericht_2019_03.pdf
Wochenbericht_2019_04.pdf
Wochenbericht_2021_31.pdf
.png
.jpg
data/prices/price_2018.xlsx
data/prices/price_2017.xlsx
data/prices/price_2016.xlsx
data/prices/price_potatoes_2016_through_2018.xlsx
output/cluster_confid.rds
output/cluster/lasso_perf.rds