.Rproj.user
.Rhistory
.RData
.Ruserdata
Nutrient Data Central.csv
Food Data Central.csv
Wochenbericht_2020_38.pdf
Wochenbericht_2019_02.pdf
Wochenbericht_2019_03.pdf
Wochenbericht_2019_04.pdf
Wochenbericht_2021_31.pdf
